body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: violet;
}
nav {
    background-color: antiquewhite;
}
main {
    flex: 1;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}